.navbar-nav {
  width: 100%;
  text-align: center;
}
.navbar-nav > li {
  float: none;
  display: inline-block;
}
/*.inner-w  */
body{
  background: #0e003d !important;
  min-height: 100%;
}
.navbar, .navbar-default{
  border:none !important;
  margin-bottom:0 !important;
  background: #0e003d !important;
}
html{
  min-height:100%;
  color: #f8f8f2 !important;
}
.navbar-default .navbar-nav>li>a{
  color: #f8f8f2 !important;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover{
  color: #f1fa8c !important;
  background: #0e003d !important;
}
.item{
  height:450px !important;
}
.glyphicon-chevron-left:before{
  content:'<' !important;
}
.glyphicon-chevron-right:before{
  content:'>' !important;
}
.carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img{
  position: absolute;
  width: 100% !important;
  min-height: 100% !important;
  min-height: 100%;
}
.carousel-caption h3{
  position: absolute;
  width:100%;
  text-align: center;
  top:60%;
  color:#f8f8f2;
  background-color: rgba(2,2,2,0.7);
}
.carousel-caption{
  left: 0 !important;
  right: 0 !important;
  bottom: 0 !important;
  top: 0 !important;
  padding-top: 0 !important;
}
.featurette > div{
  height:200px;
  padding-left: 0 ;
  padding-right: 0 ;
}
.f-par{
  padding-left: 1em !important;
  padding-right: 1em !important;
  color: #f8f8f2;
  background: #44475a;
}
.lead{
  font-size: 0.8em !important;
}
.visi{
  display: block;
}
.invisi{
  display: none;
}
